

/* body */

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    background-image: url(assets/wallpaper.png);
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: darken;
    background-size: max(100%, 75em);
    background-position-x: center;
    color: #fff;
}


/* elements */

h1{
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 3em;
    letter-spacing: 0.1em;
    margin-bottom: 0.25em;
}

.button{
    display: inline-block;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 0.5em 1em;
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
}

a{
    color: #c4edff;
    text-decoration: none;
}
a:hover{ color: #e3f7ff }
#bottomleft > a{ margin-right: 0.5em; }


/* desktop boxes */

@media all and (min-width: 721px) {

    body{ padding: 5em 7.5em; }

    #topleft{
        position: fixed;
        top: 5em;
        left: 6em;
    }
    #header{ margin-bottom: 2em; }

    #topright{
        position: fixed;
        right: 7em;
        top: 7em;
        text-align: right;
    }
    #mobilenote{ display: none; }

    #bottomleft{
        position: fixed;
        left: 6em;
        bottom: 6em;
        line-height: 1.5em;
    }

    #bottomright{
        position: fixed;
        right: 5em;
        bottom: 5em;
        color: rgba(255, 255, 255, 0.75);
        text-align: right;
        line-height: 1.5em;
    }

}


/* mobile boxes */

@media all and (max-width: 720px) {

    body{ padding: 4em 5em; }

    #topleft{ margin-bottom: 1em; }
    #topright, #bottomleft, #mobilenote{ margin-bottom: 2em; }
    #header{ margin-bottom: 3em; }

    #mobilenote{
        display: grid;
        grid-template-columns: 3em auto;
        border: 4px solid rgba(255, 0, 0, 0.5);
        background-color: rgba(255, 0, 0, 0.1);
        border-radius: 1em;
        padding: 1em;
        gap: 0.75em;
    }
    #mobileimagebox{ position: relative; }
    #mobileimage{
        width: 3em;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

}